fastapi
uvicorn[standard]
langchain 
openai 
pinecone-client 
langchain-pinecone 
langchain-openai 
langchain-groq
langchain-huggingface
sentence-transformers
langchain-community
python-dotenv 
pypdf
pymupdf